html {
    margin: 0;
    padding: 0;
}

body {

    margin: 0;
    padding: 12px;

    font-family: Courier, monospace;
    font-size: 12px;

}

p {
    margin: 0 0 1em;
}

ul, ol, dl {
    margin: 0;
    padding-bottom: 0;
}

img.org-avatar {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 0.2em;
}

#repo-list > li {
    margin-bottom: 1em;
}
